:root {
    --left: 37%;
    --width: 27%;
    --heigth: 13%;
}



body {
    background-color: white;
    overflow: hidden;
    background-image: url("Images/grass.png")

}


h1 {
    color: white;
	background-color: #992c2c;
	font-size: 4em;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
    padding: 6px 0;
    height: 70px;
    width: 1440px;
    position: absolute;
    left: 0px;
}

#container {
    width: 900px;
    margin: 10px auto;
    color: black;
    text-align: center;
    position: fixed;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255, 0);
    height: 600px;
    overflow-y: hidden;
    overflow-x: hidden;


}

#playButton {
	outline: none;
    color: black;
    background: white;
    position: absolute;
    left: var(--left);
    width: var(--width);
    height: var(--heigth);
    border: 2px solid black;
    font-size: 1.5em;
    font-weight: bold;
    top: 16%;
    text-align: center;
}

#helpButton {
    outline: none;
    color: black;
    background: white;
    position: absolute;
    left: var(--left);
    width: var(--width);
    height: var(--heigth);
    border: 2px solid black;
    font-size: 1.5em;
    font-weight: bold;
    top: 31%;
    text-align: center;
}

#optionsButton {
    outline: none;
    color: black;
    background: white;
    position: absolute;
    left: var(--left);
    width: var(--width);
    height: var(--heigth);
    border: 2px solid black;
    font-size: 1.5em;
    font-weight: bold;
    top: 46%;
    text-align: center;
}

#storageButton {
    outline: none;
    color: black;
    background: white;
    position: absolute;
    left: var(--left);
    width: var(--width);
    height: var(--heigth);
    border: 2px solid black;
    font-size: 1.5em;
    font-weight: bold;
    top: 61%;
    text-align: center;
}


#backButton {
    outline: none;
    color: black;
    background: rgb(159, 226, 191);
    position: absolute;
    left: var(--left);
    width: var(--width);
    height: var(--heigth);
    border: 2px solid black;
    font-size: 1.5em;
    font-weight: bold;
    top: 60%;
    text-align: center;
}

#playButton:hover, #helpButton:hover, #optionsButton:hover, #storageButton:hover, #backButton:hover{
    background-color: rgb(255,255,255, 0.7);
	color: black;
    
}


#helpText, #optionsText {
    font-size: 2em;
    background-color: rgb(159, 226, 191);
    padding: 2%;
    border: 3px solid black;
}

.storage-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 3em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,40%);
    width: 50%;
    font-size: 18px;

}

.slots {
    background: rgb(159, 226, 191);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position: relative;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
